
body {
	font-family: $font-family_1;
	overflow-x: hidden;
}
#menu {
	a {
		font-size: 18px !important;
		font-weight: 600;
		color: $color_1;
	}
}
button {
	font-size: 18px !important;
	font-weight: 600;
}
.carousel-inner {
	max-height: 39rem !important;
}
#img-equipo {
	max-height: 30rem !important;
	width: 50%;
}
#local {
	margin-top: 50px;
	background-color: $background-color_1;
	display: flex;
	justify-content: center;
	padding-bottom: 300px;
}
.menu {
	width: 100%;
	text-align: center;
}
.col-sm-6 {
	margin-bottom: 100px;
}
.fotoIndexArriba {
	border: $sts solid 3px;
	margin-top: 50px;
}
.fotoIndexAbajo {
	border: $sts solid 3px;
}