@import 'variables';
.row {
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-.5 * var(--bs-gutter-x));
	margin-left: calc(-.5 * var(--bs-gutter-x));
}
section {
	display: block;
}
.textProducto {
	color: $color_3;
}
.precio {
	color: $color_4;
}
.text {
	font-family: $font-family_2;
	margin-left: 125px;
	margin-right: 125px;
	margin-top: 75px;
}

