$color_1: #3f3f3f;
$color_2: #f3f3f3;
$color_3: #606079;
$color_4: #000000;
$font-family_1: 'Montserrat', sans-serif;
$font-family_2: "Source Sans Pro";
$background-color_1: #f3f3f3;
$background-color_2: #1b2a4e;
$sts: #ffbb01;